<div class="fixed-div report-grid hidden-div" id="report_{{ recipient.id }}" style="display: none;">
    <button class="close-btn" onclick="hideAllDivs()">
        <svg style="margin: 0; padding: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </button>

    <div class="mt-4" style="display: flex; justify-content: start; align-items: center;">Full Name</div>
    <div class="form-control mt-4">{{ recipient.full_name }}</div>

    <div style="display: flex; justify-content: start; align-items: center;">National Code</div>
    <div class="form-control">{{ recipient.national_code }}</div>

    <div style="display: flex; justify-content: start; align-items: center;">Gender</div>
    <div class="form-control">{{ recipient.get_gender_display }}</div>

    <div style="display: flex; justify-content: start; align-items: center;">Age</div>
    <div class="form-control">{{ recipient.age }}</div>

    {% if recipient.pregnancies_number %}
    <div style="display: flex; justify-content: start; align-items: center;">Number Of Pregnancies</div>
    <div class="form-control">{{ recipient.pregnancies_number }}</div>
    {% endif %}

    <div style="display: flex; justify-content: start; align-items: center;">Blood Group</div>
    <div class="form-control">{{ recipient.blood_group }}</div>

    <div style="display: flex; justify-content: start; align-items: center;">Appropriate Blood Group(s)</div>
    <div class="form-control">
        Suitable blood group(s) for a recipient to this individual is/are {{ recipient.donor_blood_group }}
    </div>

    <div style="display: flex; justify-content: start; align-items: center;">Appropriate Age Range</div>
    <div class="form-control">
        {% if recipient.min_donor_age == 0 %}
        The appropriate age range is up to {{ recipient.max_donor_age }} years old
        {% elif recipient.max_donor_age == 200 %}
        The appropriate age range starts from {{ recipient.min_donor_age }} years old
        {% endif %}
    </div>

    <div style="display: flex; justify-content: start; align-items: center;">Waiting List</div>
    {% if recipient.waiting_list %}
    <div class="form-control">{{ recipient.waiting_list }}</div>
    {% else %}
    <div class="form-control">Not entered</div>
    {% endif %}

    <div style="display: flex; justify-content: start; align-items: center;">Previous Donation</div>
    {% if recipient.previous_donation %}
    <div class="form-control">{{ recipient.previous_donation }}</div>
    {% else %}
    <div class="form-control">Not entered</div>
    {% endif %}

    {% if recipient.creg_status %}
    <div style="display: flex; justify-content: start; align-items: center;">CREG Status</div>
    <div class="form-control">{{ recipient.creg_status }}</div>
    {% endif %}

    <div style="display: flex; justify-content: start; align-items: center;">Rejection Or Approval Status</div>
    <div class="form-control">
        {% if recipient.reason_for_rejection %}
            {{ recipient.reason_for_rejection }}.
            {{ recipient.rejected_value }}
        {% else %}
            Considering the donor and recipient blood groups, their ages, and the HLA profiles of both, no rejection reason could be identified
        {% endif %}
    </div>
</div>