{% extends 'base.html' %}
{% load static %}

{% block title %}
فرم گیرنده تستی
{% endblock %}

{% block page1 %}
بخش تست
{% endblock %}

{% block page2 %}
فرم گیرنده تستی
{% endblock %}

{% block contain %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        <h3 style="margin-bottom: 20px;">فرم گیرنده تستی</h3>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="my-grid">
            <div>
                <label>{{ form.first_name.label }}</label>
                <div class="mb-3">
                    <input type="text" name="first_name" class="form-control" value="{{ form.first_name.value|default:'' }}">
                </div>
                {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.last_name.label }}</label>
                <div class="mb-3">
                    <input type="text" name="last_name" class="form-control" value="{{ form.last_name.value|default:'' }}">
                </div>
                {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        {% include "includes/hla_form.html" %}

        <div class="text-center">
            <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">ثبت جزئیات گیرنده تستی</button>
        </div>
    </form>
</div>
{% endblock %}