{% extends 'base.html' %}
{% load static %}

{% block title %}
فرم گیرنده
{% endblock %}

{% block page1 %}
گیرندگان
{% endblock %}

{% block page2 %}
فرم گیرنده
{% endblock %}

{% block contain %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        <h3 style="margin-bottom: 20px;">فرم گیرنده</h3>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="my-grid">
            <div>
                <label>{{ form.first_name.label }}</label>
                <div class="mb-3">
                    <input type="text" name="first_name" class="form-control" value="{{ form.first_name.value|default:'' }}">
                </div>
                {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.last_name.label }}</label>
                <div class="mb-3">
                    <input type="text" name="last_name" class="form-control" value="{{ form.last_name.value|default:'' }}">
                </div>
                {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.national_code.label }}</label>
                <div class="mb-3">
                    <input type="number" name="national_code" class="form-control" value="{{ form.national_code.value|default:'' }}">
                </div>
                {% if form.national_code.errors %}
                {% for error in form.national_code.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.phone_number.label }}</label>
                <div class="mb-3">
                    <input type="number" name="phone_number" class="form-control" value="{{ form.phone_number.value|default:'' }}">
                </div>
                {% if form.phone_number.errors %}
                {% for error in form.phone_number.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.age.label }}</label>
                <div class="mb-3">
                    <input type="number" name="age" class="form-control" value="{{ form.age.value|default:'' }}">
                </div>
                {% if form.age.errors %}
                {% for error in form.age.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.blood_group.label }}</label>
                <div class="mb-3">
                    <select name="blood_group" class="form-control">
                        {% for choice in form.blood_group.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.blood_group.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.blood_group.errors %}
                {% for error in form.blood_group.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.waiting_list.label }}</label>
                <span style="font-size: small;">{{ form.waiting_list.help_text }}</span>
                <div class="mb-3">
                    <input type="number" name="waiting_list" class="form-control" value="{{ form.waiting_list.value|default:'' }}">
                </div>
                {% if form.waiting_list.errors %}
                {% for error in form.waiting_list.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.dialysis_duration.label }}</label>
                <span style="font-size: small;">{{ form.dialysis_duration.help_text }}</span>
                <div class="mb-3">
                    <input type="number" name="dialysis_duration" class="form-control" value="{{ form.dialysis_duration.value|default:'' }}">
                </div>
                {% if form.dialysis_duration.errors %}
                {% for error in form.dialysis_duration.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.previous_donation.label }}</label>
                <div class="mb-3">
                    <select name="previous_donation" class="form-control">
                        {% for choice in form.previous_donation.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.previous_donation.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.previous_donation.errors %}
                {% for error in form.previous_donation.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.medical_urgency.label }}</label>
                <div class="mb-3">
                    <select name="medical_urgency" class="form-control">
                        {% for choice in form.medical_urgency.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.medical_urgency.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.medical_urgency.errors %}
                {% for error in form.medical_urgency.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.candidate_for_2_kidney_TX.label }}</label>
                <div class="mb-3">
                    <select name="candidate_for_2_kidney_TX" class="form-control">
                        {% for choice in form.candidate_for_2_kidney_TX.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.candidate_for_2_kidney_TX.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.candidate_for_2_kidney_TX.errors %}
                {% for error in form.candidate_for_2_kidney_TX.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.candidate_for_kidney_after_other_organ_TX.label }}</label>
                <div class="mb-3">
                    <select name="candidate_for_kidney_after_other_organ_TX" class="form-control">
                        {% for choice in form.candidate_for_kidney_after_other_organ_TX.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.candidate_for_kidney_after_other_organ_TX.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.candidate_for_kidney_after_other_organ_TX.errors %}
                {% for error in form.candidate_for_kidney_after_other_organ_TX.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.cpra.label }}</label>
                <div class="mb-3">
                    <select name="cpra" class="form-control">
                        {% for choice in form.cpra.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.cpra.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.cpra.errors %}
                {% for error in form.cpra.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.desensitized.label }}</label>
                <div class="mb-3">
                    <select name="desensitized" class="form-control">
                        {% for choice in form.desensitized.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.desensitized.value == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.desensitized.errors %}
                {% for error in form.desensitized.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.hla_matching_and_mismatch_score.label }}</label>
                <div class="mb-3">
                    <input type="number" name="hla_matching_and_mismatch_score" class="form-control" value="{{ form.hla_matching_and_mismatch_score.value|default:'' }}">
                </div>
                {% if form.hla_matching_and_mismatch_score.errors %}
                {% for error in form.hla_matching_and_mismatch_score.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">ثبت جزئیات گیرنده</button>
        </div>
    </form>
</div>
{% endblock %}