{% extends 'base.html' %}
{% load static %}

{% block title %}
History Call
{% endblock %}

{% block page1 %}
History Call
{% endblock %}

{% block page2 %}
List
{% endblock %}

{% block contain %}
<div class="row">
    <div class="col-12" style="margin-top: 40px;">
        <div class="card mb-4">
            <div class="card-header pb-0" style="display: flex; justify-content: space-between;">
                <h6>History Call {{ recipient.full_name }}</h6>
                <button
                    style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">
                    <a href="{% url 'history_call_create' recipient.id %}" style="color: #f97316;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        افزودن
                    </a>
                </button>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="myTable">
                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    شناسه</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Class I PDF</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Class II PDF</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if history_calls %}
                            {% for history_call in history_calls %}
                            <tr id="tr">
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ history_call.id }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        {% if history_call.class_i_pdf %}
                                        <a class="form-control" href="{{ history_call.class_i_pdf.url }}" target="_blank">
                                            دیدن فایل انتخاب شده
                                        </a>
                                        {% else %}
                                        وارد نشده است
                                        {% endif %}
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        {% if history_call.class_ii_pdf %}
                                        <a class="form-control" href="{{ history_call.class_ii_pdf.url }}" target="_blank">
                                            دیدن فایل انتخاب شده
                                        </a>
                                        {% else %}
                                        وارد نشده است
                                        {% endif %}
                                    </span>
                                </td>
                                <div class="fixed-div creg-grid hidden-div" id="uam_{{ history_call.id }}" style="display: none;">
                                    <button class="close-btn" onclick="hideAllDivs()">
                                        <svg style="margin: 0; padding: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path
                                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                        </svg>
                                    </button>
                                    <div class="form-control mt-4" style="border-color: #430810; color: #430810; grid-column: 1 / span 4;">HLA UAM List</div>
                                    {% for hla_uam_history in history_call.hla_a_uam_history.all %}
                                    <div class="form-control" style="border-color: #C5172E; color: #C5172E;">{{ hla_uam_history.value }}</div>
                                    {% endfor %}

                                    {% for hla_uam_history in history_call.hla_b_uam_history.all %}
                                    <div class="form-control" style="border-color: #C5172E; color: #C5172E;">{{ hla_uam_history.value }}</div>
                                    {% endfor %}

                                    {% for hla_uam_history in history_call.hla_drb1_uam_history.all %}
                                    <div class="form-control" style="border-color: #C5172E; color: #C5172E;">{{ hla_uam_history.value }}</div>
                                    {% endfor %}

                                    {% for hla_uam_history in history_call.hla_drb_uam_history.all %}
                                    <div class="form-control" style="border-color: #C5172E; color: #C5172E;">{{ hla_uam_history.value }}</div>
                                    {% endfor %}

                                    {% for hla_uam_history in history_call.hla_dqb1_uam_history.all %}
                                    <div class="form-control" style="border-color: #C5172E; color: #C5172E;">{{ hla_uam_history.value }}</div>
                                    {% endfor %}
                                </div>
                                <td class="align-middle text-center">
                                    <a title="See UAM" style="padding: 0 4px;"
                                        onclick="showDiv('uam_{{ history_call.id }}')">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #9248ec; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'history_call_update' recipient.id history_call.id %}" title="ویرایش"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #16C47F; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'history_call_delete' recipient.id history_call.id %}" title="حذف"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #C5172E; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4" class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">موردی یافت نشد</span>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const black = document.querySelector('.black');
    function showDiv(id) {
        hideAllDivs();
        document.getElementById(id).style.display = 'grid';
        black.style.display = 'flex';
    }

    function hideAllDivs() {
        const divs = document.querySelectorAll('.hidden-div');
        divs.forEach(div => div.style.display = 'none');
        black.style.display = 'none';
    }
</script>
{% endblock %}