{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
جزئیات گیرنده: {{ recipient.first_name }} {{ recipient.last_name }}
{% endblock %}

{% block page1 %}
گیرندگان
{% endblock %}

{% block page2 %}
جزئیات گیرنده: {{ recipient.first_name }} {{ recipient.last_name }}
{% endblock %}

{% block contain %}
<div class="row">
    <div style="display: flex; width: 100%; justify-content: space-between;">
        <h3 style="margin-bottom: 20px;">جزئیات</h3>

        <button
            style="background-color: #fff; border: 1px solid #16C47F; border-radius: 0.5rem; color: #16C47F; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">
            <svg style="margin-left: 3px;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                class="bi bi-pen" viewBox="0 0 16 16">
                <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
            </svg>
            <a href="{% url 'recipient_update' recipient.id %}" style="color: #16C47F;">ویرایش {{ recipient.first_name }} {{ recipient.last_name }}</a>
        </button>
    </div>

    <div class="my-grid">
        <div>
            <label>نام و نام خانوادگی</label>
            <input class="form-control" value="{{ recipient.first_name }} {{ recipient.last_name }}" disabled>
        </div>
        <div>
            <label>شماره تماس</label>
            <input class="form-control" value="{{ recipient.phone_number }}" disabled>
        </div>
        <div>
            <label>کد ملی</label>
            <input class="form-control" value="{{ recipient.national_code }}" disabled>
        </div>
        <div>
            <label>سن</label>
            <input class="form-control" value="{{ recipient.age }}" disabled>
        </div>
        <div>
            <label>گروه خونی</label>
            <input class="form-control" value="{{ recipient.blood_group }}" disabled>
        </div>
    </div>
    <div class="text-center">
        <div
            style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700; margin-top: 40px;">
            <svg style="margin-left: 8px; margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                fill="currentColor" class="bi bi-clipboard2-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10.058.501a.5.5 0 0 0-.5-.501h-2.98c-.276 0-.5.225-.5.501A.5.5 0 0 1 5.582 1a.497.497 0 0 0-.497.497V2a.5.5 0 0 0 .5.5h4.968a.5.5 0 0 0 .5-.5v-.503A.497.497 0 0 0 10.555 1a.5.5 0 0 1-.497-.499" />
                <path fill-rule="evenodd"
                    d="M4.174 1h-.57a1.5 1.5 0 0 0-1.5 1.5v12a1.5 1.5 0 0 0 1.5 1.5h9a1.5 1.5 0 0 0 1.5-1.5v-12a1.5 1.5 0 0 0-1.5-1.5h-.642q.084.236.085.5V2c0 .828-.668 1.5-1.492 1.5H5.581A1.496 1.496 0 0 1 4.09 2v-.5q.001-.264.085-.5Zm3.894 5.482c1.656-1.673 5.795 1.254 0 5.018-5.795-3.764-1.656-6.69 0-5.018" />
            </svg>
            {% if recipient.min_donor_age == 0 %}
            <span style="font-size: large;">گروه (گروه های) خونی مناسب برای اهداکننده این فرد 
                {{ recipient.donor_blood_group }} و رده سنی مناسب نیز حداکثر {{ recipient.max_donor_age }} سال خواهد
                بود.
            </span>
            {% elif recipient.max_donor_age == 200 %}
            <span style="font-size: large;">گروه (گروه های) خونی مناسب برای اهداکننده این فرد 
                {{ recipient.donor_blood_group }} و رده سنی مناسب نیز حداقل {{ recipient.min_donor_age }} سال خواهد
                بود.
            </span>
            {% endif %}
        </div>
    </div>
    <div class="hla-grid">
        <div class="form-control c1">HLA A</div>
        <div class="form-control c2">HLA B</div>
        <div class="form-control c3">HLA DRB1</div>
        <div class="form-control c4">HLA DRB</div>
        <div class="form-control c5">HLA DQB1</div>

        <div class="form-control" id="hla_a_first_donor">{{ recipient.hla_a_1 }}</div>
        <div class="form-control" id="hla_a_second_donor">{{ recipient.hla_a_2 }}</div>
        <div class="form-control" id="hla_b_first_donor">{{ recipient.hla_b_1 }}</div>
        <div class="form-control" id="hla_b_second_donor">{{ recipient.hla_b_2 }}</div>
        <div class="form-control" id="hla_drb1_first_donor">{{ recipient.hla_drb1_1 }}</div>
        <div class="form-control" id="hla_drb1_second_donor">{{ recipient.hla_drb1_2 }}</div>
        <div class="form-control" id="hla_drb_first_donor">{{ recipient.hla_drb_1 }}</div>
        <div class="form-control" id="hla_drb_second_donor">{{ recipient.hla_drb_2 }}</div>
        <div class="form-control" id="hla_dqb1_first_donor">{{ recipient.hla_dqb1_1 }}</div>
        <div class="form-control" id="hla_dqb1_second_donor">{{ recipient.hla_dqb1_2 }}</div>

        <div class="form-control" style="display: none;" id="hla_a_first_donor_type">{{ recipient.hla_a_1.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_a_second_donor_type">{{ recipient.hla_a_2.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_b_first_donor_type">{{ recipient.hla_b_1.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_b_second_donor_type">{{ recipient.hla_b_2.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_drb1_first_donor_type">{{ recipient.hla_drb1_1.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_drb1_second_donor_type">{{ recipient.hla_drb1_2.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_drb_first_donor_type">{{ recipient.hla_drb_1.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_drb_second_donor_type">{{ recipient.hla_drb_2.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_dqb1_first_donor_type">{{ recipient.hla_dqb1_1.get_type_display }}</div>
        <div class="form-control" style="display: none;" id="hla_dqb1_second_donor_type">{{ recipient.hla_dqb1_2.get_type_display }}</div>
    </div>
    {% if is_recipient_hla_uams %}
    <div class="points" style="margin-bottom: 0;">
        <h5 style="color: #C5172E; margin-top: 40px; margin-bottom: 0;">HLA UAM List</h5>
    </div>
    <div class="hla-grid" style="margin-top: 20px;">
        {% for recipient_hla_uam in recipient_hla_uams %}
        <div class="form-control" style="border-color: #C5172E; color: #C5172E;">{{ recipient_hla_uam }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="second-grid" style="margin-bottom: 40px;">
        <div class="points">
            <h5 style="color: #f97316;">Scoring matrix</h5>
        </div>
        <div class="form-control">matrix</div>
        <div class="form-control">value</div>
        <div class="form-control">point</div>
        <div class="form-control">matrix</div>
        <div class="form-control">value</div>
        <div class="form-control">point</div>
        <div class="form-control">Waiting list date</div>
        <div class="form-control">{{ recipient.waiting_list }}</div>
        <div class="form-control">{{ waiting_list_p|truncatechars_noellipsis:5 }}</div>
        <div class="form-control">Dialysis duration date</div>
        <div class="form-control">{{ recipient.dialysis_duration }}</div>
        <div class="form-control">{{ dialysis_duration_p|truncatechars_noellipsis:5 }}</div>
        <div class="form-control">Previous donation</div>
        <div class="form-control">{{ recipient.get_previous_donation_display }}</div>
        <div class="form-control">{{ previous_donation_p }}</div>
        <div class="form-control">Medical urgency</div>
        <div class="form-control">{{ recipient.get_medical_urgency_display }}</div>
        <div class="form-control">{{ medical_urgency_p }}</div>
        <div class="form-control">Candidate for 2 kidney TX</div>
        <div class="form-control">{{ recipient.get_candidate_for_2_kidney_TX_display }}</div>
        <div class="form-control">{{ candidate_for_2_kidney_TX_p }}</div>
        <div class="form-control">Candidate for kidney after other organ TX</div>
        <div class="form-control">{{ recipient.get_candidate_for_kidney_after_other_organ_TX_display }}</div>
        <div class="form-control">{{ candidate_for_kidney_after_other_organ_TX_p }}</div>
        <div class="form-control">Cpra</div>
        <div class="form-control">{{ recipient.get_cpra_display }}</div>
        <div class="form-control">{{ cpra_p }}</div>
        <div class="form-control">Desensitized</div>
        <div class="form-control">{{ recipient.get_desensitized_display }}</div>
        <div class="form-control">{{ desensitized_p }}</div>
        <div class="form-control">HLA matching and mismatch score</div>
        <div class="form-control">---</div>
        <div class="form-control">---</div>
        <div class="form-control" style="color: #f97316; font-size: large;">Matrix Point</div>
        <div class="form-control point" style="color: #f97316; font-size: large;">
            {{ recipient.point|truncatechars_noellipsis:5 }}
        </div>
    </div>

    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0" style="display: flex; justify-content: space-between;">
                <h6>لیست اهدا کنندگان مناسب برای گیرنده فوق</h6>
                <h6 id="sort-title" style="color: #f97316;">Sorting By HLA Point</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="myTable">
                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    شناسه</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    وضعیت</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    نام و نام خانوادگی</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    شماره تلفن</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    کد ملی</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    سن</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    HLA Point</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if donors %}
                            {% for donor in donors %}
                            <tr id="tr">
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ donor.id }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        {{ donor.get_status_display }}
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        {{ donor.first_name }} {{ donor.last_name }}
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ donor.phone_number }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ donor.national_code }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ donor.age }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold"></span>
                                </td>
                                <div class="fixed-div hla-grid hidden-div" id="recipient_{{ donor.id }}_{{ donor.get_status_display }}" style="display: none;">
                                    <button class="close-btn" onclick="hideAllDivs()">
                                        <svg style="margin: 0; padding: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                        </svg>
                                    </button>
                                    <div style="color: #f97316;" class="form-control c1">HLA A</div>
                                    <div style="color: #f97316;" class="form-control c2">HLA B</div>
                                    <div style="color: #f97316;" class="form-control c3">HLA DRB1</div>
                                    <div style="color: #f97316;" class="form-control c4">HLA DRB</div>
                                    <div style="color: #f97316;" class="form-control c5">HLA DQB1</div>
                                    <div style="color: #f97316;" class="form-control c6">Person</div>

                                    <div class="form-control" id="hla_a_first_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_a_1 }}</div>
                                    <div class="form-control" id="hla_a_second_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_a_2 }}</div>
                                    <div class="form-control" id="hla_b_first_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_b_1 }}</div>
                                    <div class="form-control" id="hla_b_second_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_b_2 }}</div>
                                    <div class="form-control" id="hla_drb1_first_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_drb1_1 }}</div>
                                    <div class="form-control" id="hla_drb1_second_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_drb1_2 }}</div>
                                    <div class="form-control" id="hla_drb_first_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_drb_1 }}</div>
                                    <div class="form-control" id="hla_drb_second_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_drb_2 }}</div>
                                    <div class="form-control" id="hla_dqb1_first_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_dqb1_1 }}</div>
                                    <div class="form-control" id="hla_dqb1_second_{{ donor.id }}_{{ donor.get_status_display }}">{{ donor.hla_dqb1_2 }}</div>
                                    <div class="form-control c6">Donor</div>

                                    <div style="display: none;" id="hla_a_first_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_a_1.get_type_display }}</div>
                                    <div style="display: none;" id="hla_a_second_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_a_2.get_type_display }}</div>
                                    <div style="display: none;" id="hla_b_first_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_b_1.get_type_display }}</div>
                                    <div style="display: none;" id="hla_b_second_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_b_2.get_type_display }}</div>
                                    <div style="display: none;" id="hla_drb1_first_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_drb1_1.get_type_display }}</div>
                                    <div style="display: none;" id="hla_drb1_second_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_drb1_2.get_type_display }}</div>
                                    <div style="display: none;" id="hla_drb_first_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_drb_1.get_type_display }}</div>
                                    <div style="display: none;" id="hla_drb_second_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_drb_2.get_type_display }}</div>
                                    <div style="display: none;" id="hla_dqb1_first_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_dqb1_1.get_type_display }}</div>
                                    <div style="display: none;" id="hla_dqb1_second_{{ donor.id }}_{{ donor.get_status_display }}_type">{{ donor.hla_dqb1_2.get_type_display }}</div>

                                    <div class="form-control">{{ recipient.hla_a_1 }}</div>
                                    <div class="form-control">{{ recipient.hla_a_2 }}</div>
                                    <div class="form-control">{{ recipient.hla_b_1 }}</div>
                                    <div class="form-control">{{ recipient.hla_b_2 }}</div>
                                    <div class="form-control">{{ recipient.hla_drb1_1 }}</div>
                                    <div class="form-control">{{ recipient.hla_drb1_2 }}</div>
                                    <div class="form-control">{{ recipient.hla_drb_1 }}</div>
                                    <div class="form-control">{{ recipient.hla_drb_2 }}</div>
                                    <div class="form-control">{{ recipient.hla_dqb1_1 }}</div>
                                    <div class="form-control">{{ recipient.hla_dqb1_2 }}</div>
                                    <div class="form-control c6">Recipient</div>

                                    <div class="form-control c1" id="hla_a_{{ donor.id }}_{{ donor.get_status_display }}_point"></div>
                                    <div class="form-control c2" id="hla_b_{{ donor.id }}_{{ donor.get_status_display }}_point"></div>
                                    <div class="form-control c3" id="hla_drb1_{{ donor.id }}_{{ donor.get_status_display }}_point"></div>
                                    <div class="form-control c4" id="hla_drb_{{ donor.id }}_{{ donor.get_status_display }}_point"></div>
                                    <div class="form-control c5" id="hla_dqb1_{{ donor.id }}_{{ donor.get_status_display }}_point"></div>
                                    <div class="form-control c6">Point</div>
                                </div>
                                <td class="align-middle text-center">
                                    <a title="See HLA" style="padding: 0 4px;" onclick="showDiv('recipient_{{ donor.id }}_{{ donor.get_status_display }}')">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #163cf9; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                            </svg>
                                        </span>
                                    </a>
                                    {% if donor.status == '1' %}
                                    <a href="{% url 'cadaver_donor_detail' donor.id %}" title="جزئیات"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #f97316; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                <path
                                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'cadaver_donor_update' donor.id %}" title="ویرایش"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #16C47F; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'cadaver_donor_delete' donor.id %}" title="حذف"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #C5172E; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'living_donor_detail' donor.id %}" title="جزئیات"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #f97316; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                <path
                                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'living_donor_update' donor.id %}" title="ویرایش"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #16C47F; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'living_donor_delete' donor.id %}" title="حذف"
                                        style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #C5172E; cursor: pointer;"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </span>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="7" class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">موردی یافت نشد</span>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="page">
            {% if donors.has_previous %}
            <a href="?page={{ donors.previous_page_number }}">
                <div class="ago">
                    <p>قبلی</p>
                </div>
            </a>
            {% if donors.number > 3 %}
            <a href="?page=1" class="number">1</a>
                {% if donors.number > 4 %}
                <span class="number">...</span>
                {% endif %}
            {% endif %}
            {% endif %}
            
            {% for num in donors.paginator.page_range %}
            {% if donors.number == num %}
            <a href="?page={{ num }}" class="number">{{ num }}</a>
            {% elif num > donors.number|add:'-3' and num < donors.number|add:'3' %} 
            <a href="?page={{ num }}" class="number">{{ num }}</a>
            {% endif %}
            {% endfor %}
            
            {% if donors.has_next %}
            {% if donors.number < donors.paginator.num_pages|add:'-3' %}
            <span class="number">...</span>
            <a href="?page={{ donors.paginator.num_pages }}" class="number">{{ donors.paginator.num_pages }}</a>
            {% elif donors.number < donors.paginator.num_pages|add:'-2' %} 
            <a href="?page={{ donors.paginator.num_pages }}" class="number">{{ donors.paginator.num_pages }}</a>
            {% endif %}
            
            <a href="?page={{ donors.next_page_number }}">
                <div class="next">
                    <p>بعدی</p>
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'js/recipient-hla.js' %}"></script>
{% endblock %}