{% extends 'base.html' %}
{% load static %}

{% block title %}
فرم گیرنده
{% endblock %}

{% block page1 %}
گیرندگان
{% endblock %}

{% block page2 %}
فرم گیرنده
{% endblock %}

{% block contain %}
<div class="row">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 style="margin-bottom: 20px;">فرم گیرنده</h3>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="my-grid">
            <div>
                <label>{{ form.read_uam_from.label }}</label>
                <div class="mb-3">
                    <select name="read_uam_from" class="form-control">
                        {% for choice in form.read_uam_from.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.read_uam_from.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.read_uam_from.errors %}
                {% for error in form.read_uam_from.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="file-upload" style="grid-column: 1 / span 2;">
                <label for="class_i_input" class="file-label" data-type="class_i">
                    انتخاب فایل Class I
                    <svg class="pdf-icon" width="20" height="20" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                    </svg>
                </label>
                <input type="file" name="class_i_pdf" id="class_i_input" class="file-input" data-type="class_i" accept=".pdf" value="{{ form.class_i_pdf.value }}">
                {% if form.instance.class_i_pdf %}
                <div class="file-info" data-type="class_i" style="display: flex;">
                    <span class="file-name" data-type="class_i">
                        <a href="{{ form.instance.class_i_pdf.url }}" target="_blank">
                            دیدن فایل انتخاب شده
                        </a>
                    </span>
                    <svg class="trash-icon remove-file" data-type="class_i" viewBox="0 0 16 16" fill="currentColor" style="display: none;">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </div>
                {% else %}
                <div class="file-info" data-type="class_i" style="display: none;">
                    <span class="file-name" data-type="class_i"></span>
                    <svg class="trash-icon remove-file" data-type="class_i" viewBox="0 0 16 16" fill="currentColor">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </div>
                {% endif %}
            </div>
            <div class="file-upload" style="grid-column: 3 / span 2;">
                <label for="class_ii_input" class="file-label" data-type="class_ii">
                    انتخاب فایل Class II
                    <svg class="pdf-icon" width="20" height="20" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                    </svg>
                </label>
                <input type="file" id="class_ii_input" name="class_ii_pdf" class="file-input" data-type="class_ii" accept=".pdf">
                {% if form.instance.class_ii_pdf %}
                <div class="file-info" data-type="class_ii" style="display: flex;">
                    <span class="file-name" data-type="class_ii">
                        <a href="{{ form.instance.class_ii_pdf.url }}" target="_blank">
                            دیدن فایل انتخاب شده
                        </a>
                    </span>
                    <svg class="trash-icon remove-file" data-type="class_ii" viewBox="0 0 16 16" fill="currentColor" style="display: none;">
                        <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </div>
                {% else %}
                <div class="file-info" data-type="class_ii" style="display: none;">
                    <span class="file-name" data-type="class_ii"></span>
                    <svg class="trash-icon remove-file" data-type="class_ii" viewBox="0 0 16 16" fill="currentColor">
                        <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </div>
                {% endif %}
            </div>
            <div>
                <label>{{ form.first_name.label }}</label>
                <div class="mb-3">
                    <input type="text" name="first_name" class="form-control" value="{{ form.first_name.value }}">
                </div>
                {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.last_name.label }}</label>
                <div class="mb-3">
                    <input type="text" name="last_name" class="form-control" value="{{ form.last_name.value }}">
                </div>
                {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.national_code.label }}</label>
                <div class="mb-3">
                    <input type="number" name="national_code" class="form-control" value="{{ form.national_code.value }}">
                </div>
                {% if form.national_code.errors %}
                {% for error in form.national_code.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.phone_number.label }}</label>
                <div class="mb-3">
                    <input type="number" name="phone_number" class="form-control" value="{{ form.phone_number.value }}">
                </div>
                {% if form.phone_number.errors %}
                {% for error in form.phone_number.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.gender.label }}</label>
                <div class="mb-3">
                    <select name="gender" class="form-control">
                        {% for choice in form.gender.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.gender.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.gender.errors %}
                {% for error in form.gender.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.pregnancies_number.label }}</label>
                <div class="mb-3">
                    <input type="number" name="pregnancies_number" class="form-control" value="{{ form.pregnancies_number.value }}">
                </div>
                {% if form.pregnancies_number.errors %}
                {% for error in form.pregnancies_number.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.age.label }}</label>
                <div class="mb-3">
                    <input type="number" name="age" class="form-control" value="{{ form.age.value }}">
                </div>
                {% if form.age.errors %}
                {% for error in form.age.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.blood_group.label }}</label>
                <div class="mb-3">
                    <select name="blood_group" class="form-control">
                        {% for choice in form.blood_group.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.blood_group.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.blood_group.errors %}
                {% for error in form.blood_group.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.waiting_list.label }}</label>
                <span style="font-size: small;">{{ form.waiting_list.help_text }}</span>
                <div class="mb-3">
                    <input data-jdp type="text" name="waiting_list" class="form-control" value="{{ form.waiting_list.value }}" autocomplete="off">
                </div>
                {% if form.waiting_list.errors %}
                {% for error in form.waiting_list.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.dialysis_duration.label }}</label>
                <span style="font-size: small;">{{ form.dialysis_duration.help_text }}</span>
                <div class="mb-3">
                    <input data-jdp type="text" name="dialysis_duration" class="form-control" value="{{ form.dialysis_duration.value }}" autocomplete="off">
                </div>
                {% if form.dialysis_duration.errors %}
                {% for error in form.dialysis_duration.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.previous_donation.label }}</label>
                <div class="mb-3">
                    <select name="previous_donation" class="form-control">
                        {% for choice in form.previous_donation.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.previous_donation.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.previous_donation.errors %}
                {% for error in form.previous_donation.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.medical_urgency.label }}</label>
                <div class="mb-3">
                    <select name="medical_urgency" class="form-control">
                        {% for choice in form.medical_urgency.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.medical_urgency.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.medical_urgency.errors %}
                {% for error in form.medical_urgency.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.candidate_for_2_kidney_TX.label }}</label>
                <div class="mb-3">
                    <select name="candidate_for_2_kidney_TX" class="form-control">
                        {% for choice in form.candidate_for_2_kidney_TX.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.candidate_for_2_kidney_TX.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.candidate_for_2_kidney_TX.errors %}
                {% for error in form.candidate_for_2_kidney_TX.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.candidate_for_kidney_after_other_organ_TX.label }}</label>
                <div class="mb-3">
                    <select name="candidate_for_kidney_after_other_organ_TX" class="form-control">
                        {% for choice in form.candidate_for_kidney_after_other_organ_TX.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.candidate_for_kidney_after_other_organ_TX.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.candidate_for_kidney_after_other_organ_TX.errors %}
                {% for error in form.candidate_for_kidney_after_other_organ_TX.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.cpra.label }}</label>
                <div class="mb-3">
                    <select name="cpra" class="form-control">
                        {% for choice in form.cpra.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.cpra.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.cpra.errors %}
                {% for error in form.cpra.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.desensitized.label }}</label>
                <div class="mb-3">
                    <select name="desensitized" class="form-control">
                        {% for choice in form.desensitized.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.desensitized.value|default:'' == choice.0|default:'' %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.desensitized.errors %}
                {% for error in form.desensitized.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        {% include "includes/hla_form.html" %}

        {% include "includes/uam_form.html" %}

        <div class="text-center">
            <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">ثبت جزئیات گیرنده</button>
        </div>
    </form>
</div>

<script>
    jalaliDatepicker.startWatch();

    const inputFile = document.getElementById('profile_image_input');
    const previewImage = document.getElementById('profile_image_preview');
    inputFile.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }); 
</script>
<script src="{% static 'js/hla-uam-pdf.js' %}"></script>
{% endblock %}